# Learning python - Day 3

## Outline:

- Errors and how to read stuff
- Concept of Modules
- Numpy/pandas
    - Really basic/high level coverage

# Error!

## What is an error?

- An error is a mistake in your code that causes it to not run
- There are many different types of errors
- Errors are your friend! They tell you what is wrong with your code
- You will encounter errors. Many, many errors. So many errors...
    - Everyone does

## How to read an error

- Read the error from the bottom up
- The last line is the most important
- The last line tells you what type of error it is
- The second to last line tells you where the error is
- The third to last line tells you what caused the error

## Example errors

In [2]:
prant("hello world")

NameError: name 'prant' is not defined

In [3]:
x = 1
y = 2
z = (x + y

SyntaxError: unexpected EOF while parsing (<ipython-input-3-69a4f124dfba>, line 3)

In [5]:
print(math.pi())

NameError: name 'math' is not defined

# Python Modules

A module in Python is simply a file containing Python definitions and statements (just like an R library). Putting code into modules is useful because of the ability to import the module functionality into your script or IPython session. This generally will add functionality that you need for a specific task.

## What a module provides

Modules provide functions that you can use in your code. For example, the `math` module provides the `sqrt()` function that you can use in your code to compute the square root of a number. Modules also provide objects that you can use in your code. For example, the `math` module provides the `pi` object that you can use in your code to get the value of pi. Modules also provide classes that you can use in your code. For example, the `datetime` module provides the `datetime` class that you can use in your code to create datetime objects.



## How to Import a Module

To use a module in your code, you first need to import it (just like an R library). To import a module, use the `import` statement at the top of your code. You can also use the `from...import` statement to import specific attributes or functions from a given module.

In [ ]:
import math



Now you can use the functions and variables defined in the `math` module:

In [ ]:
print(math.pi)  # prints: 3.141592653589793



# Numpy

Numpy is a Python library used for working with arrays. It also has functions for working in the domain of linear algebra, fourier transform, and matrices.

## How to Import Numpy

In [ ]:
import numpy as np

## Creating a Numpy Array

- A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers.
- The number of dimensions is the rank of the array; the shape of an array is a tuple of integers giving the size of the array along each dimension.
- We can initialize numpy arrays from nested Python lists, and access elements using square brackets:
- Numpy also provides many functions to create arrays:

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
print(arr)  # prints: array([1, 2, 3, 4, 5])



## Array Operations

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])

print(arr1 + arr2)  # prints: array([5, 7, 9])

# Pandas

Pandas is a library used for data manipulation and analysis. It is used to extract data and store it as tables or named lists (series).

It can best be compared to either a spreadsheet (excel) or to dataframes or tibbles in R.

## Functionality that Pandas provides

- Reading and writing data
- Selecting subsets of data
- Calculating across rows and columns
- Finding and filling missing data
- Applying functions to data

## How to Import Pandas

In [7]:
import pandas as pd



## Creating a Pandas DataFrame Manually

In [ ]:
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}

purchases = pd.DataFrame(data)

print(purchases)



## Reading Data from CSV File

In [13]:
df = pd.read_csv('titanic.csv')

print(df)

type(df)  # prints: pandas.core.frame.DataFrame

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
884         0       3                     Miss. Catherine Helen Johnston
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
884  female   7.0                        1                        2  23.4500
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]

pandas.core.frame.DataFrame

## Manipulate pandas dataframes

### Selecting Data

In [36]:
df.head(10)

df.drop('Fare', axis = 1)

df.sort_values('Age', ascending=False)

df.iloc[[0, 1, 2, 3, 4, 5], [0, 3, 5]]

df.sort_values('Age', ascending=False).iloc[0:10]

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
627,1,1,Mr. Algernon Henry Wilson Barkworth,male,80.0,0,0,30.0000
847,0,3,Mr. Johan Svensson,male,74.0,0,0,7.7750
490,0,1,Mr. Ramon Artagaveytia,male,71.0,0,0,49.5042
95,0,1,Mr. George B Goldschmidt,male,71.0,0,0,34.6542
115,0,3,Mr. Patrick Connors,male,70.5,0,0,7.7500
669,0,2,Mr. Henry Michael Mitchell,male,70.0,0,0,10.5000
741,0,1,Capt. Edward Gifford Crosby,male,70.0,1,1,71.0000
535,0,3,Mr. Samuel Beard Risien,male,69.0,0,0,14.5000
33,0,2,Mr. Edward H Wheadon,male,66.0,0,0,10.5000
508,0,3,Mr. James Webber,male,66.0,0,0,8.0500

## A very brief introduction to installing modules:

We have both numpy and pandas pre-installed for you, but if you need to use a module you don't have, you may first need to install it using pip.

You can also install modules using conda.

We will go into more detail about how to install modules on Friday.

In [ ]:
# You don't need to actually run this. This is just an example.
# pip install numpy pandas

## Activities that involve numpy:

1. **Create a numpy array**: Write code to take a list of numbers and create a numpy array.

In [ ]:
import numpy as np

    # Your code here



2. **Array operations**: Write code that takes two numpy arrays as input and returns their element-wise sum.

In [ ]:

    # Your code here



3. **Indexing and slicing**: Write code to keep only the first half of an array.

In [ ]:

    # Your code here



4. **Statistical functions**: Write code that takes a numpy array and calculates the mean and standard deviation of the array.

In [ ]:

    # Your code here